# Environment variables
.env

# Virtual environment
env/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 
astha_therapy_center_web/migrations/