{% extends 'base.html' %}
{% load static %}

{% block title %}Testimonials - Aastha Therapy Center{% endblock %}

{% block page_header %}
<!-- No page header for testimonials page -->
{% endblock %}

{% block content %}

    <!-- Page Video Gallery Start -->
     <div class="page-video-gallery">
        <div class="container">
            <div class="row gallery-items">
                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-1.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.2s" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-2.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.4s" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-3.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.6s" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-4.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="0.8s" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-5.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>

                <div class="col-lg-4 col-md-4">
                    <!-- image gallery start -->
                    <div class="photo-gallery wow fadeInUp" data-wow-delay="1s" data-cursor-text="Play">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video">
                            <figure>
                                <img src="{% static 'images/video-gallery-img-6.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- image gallery end -->
                </div>
            </div>
        </div>
     </div>
    <!-- Page Video Gallery End -->

{% endblock %}